* {
	box-sizing: border-box;
}

body {
	max-width: 1024px;
	margin: auto;
	font-size: 12px;
	font-family: 'tahoma', 'arial', '宋体';
}

h2 {
	font-size: 14px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #cc9977;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header .logo {
	background: url(https://img.alicdn.com/tfs/TB11ojWRXXXXXafaFXXXXXXXXXX-190-27.png);
	width: 190px;
	height: 28px;
	margin-top: 15px;
}

.header .stepbar-box {
	display: flex;
	flex-direction: row-reverse;
}

.header .stepbar {
	margin: 10px;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
}

.header .stepbar li {
	width: 140px;
	font-weight: 700;
}

.header .stepbar .step-name {
	color: #888;
	text-align: center;
	padding: 3px 0;
}

.header .stepbar .step-no {
	position: relative;
	width: 100%;
	height: 50px;
	color: #fff;
}

.header .stepbar .step-no .layer-1 {
	position: absolute;
	top: calc(50px / 2 - 10px / 2);
	left: 0;
	width: 100%;
	height: 10px;
	background: #dcdcdc;
	z-index: 1;
}

.header .stepbar .step-no .layer-2 {
	position: absolute;
	top: 8px;
	left: calc(50% - 17px);
	width: 34px;
	height: 34px;
	line-height: 34px;
	border-radius: 50%;
	background: #dcdcdc;
	font-family: 'arial black';
	font-size: 18px;
	z-index: 2;
	text-align: center;
}

.content {
}

.content .addr-list {
	display: flex;
	width: 1024px;
	flex-flow: row wrap;
	align-content: flex-start;
}

.content .addr {
	flex: 0 0 25%;
	vertical-align: top;
	width: 237px !important;
	cursor: pointer;
	color: #666;
	background: #fff;
}

.content .addr .inner {
	padding: 14px 15px;
	overflow: hidden;
	margin: 0 14px 14px 0;
	background: url(https://img.alicdn.com/tps/i2/T1VPiBXvpeXXbjLKQ7-237-106.png) no-repeat;
}

.content .addr .inner:hover { 
	background: url(https://img.alicdn.com/tfs/TB1OVRCRpXXXXaMXFXXXXXXXXXX-237-106.png)	no-repeat;
}

.content .addr .addr-hd {
	width: 100%;
	white-space: nowrap;
	padding: 0 0 5px;
	border-bottom: 1px #e9e9e9 solid;
}

.content .addr .addr-hd .city {
	font-weight: 700;
	margin-right: 10px;
}

.content .addr .addr-bd {
	width: 100%;
	padding: 5px 0 0;
}

.content .addr .addr-toolbar {
	padding: 5px 0 0;
}

.content .addr .addr-toolbar .modify {
	color: #cc9977;
	text-decoration: none;
}

.content .addr-def {

}

.content .addr-cur {

}

.content .addr-set {

}

.content .addr-operations {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px;
}

.footer {

}