<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
  <meta name="author" content="">
  <link href="css/addr.css" rel="stylesheet">
  <link href="css/modal.css" rel="stylesheet">
  <link rel="stylesheet" href="css/popup.css">
	<title>我的收货地址</title>
</head>
<body>
	<div class="container" v-cloak>
		<div class="header">
			<div class="logo"></div>
			<div class="stepbar-box">
				<ol class="stepbar">
					<li v-for="(s, index) in stepbar">
						<div class="step-name">{{ s.name }}</div>
						<div class="step-no">
							<div class="layer-1"></div>
							<div class="layer-2">
								<span class="txt">{{ s.no }}</span>
							</div>
							<div class="first" v-if="index===0">
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
		<div class="content">
			<h2>选择收货地址</h2>
			<div class="addr-list">
				<div class="addr" v-for="item in usrAddrsShow">
					<div class="inner" :class="item.isSeted? 'addr-set':'addr-not-set'" @click="setAddr(item)">
						<div class="addr-hd">
							<span class="prov">{{ item.prov }}</span>
							<span class="city">{{ item.city }}</span>
							<span>（</span>
							<span class="name">{{ item.name }}</span>
							<span>收）</span>
						</div>
						<div class="addr-bd" title="">
							<span class="dist">{{ item.dist }}</span>
							<span class="town">{{	item.town	}}</span>
							<span class="street">{{ item.street }}</span>
							<span class="phone">{{ item.phone || item.telephone }}</span>
						</div>
						<div class="addr-toolbar" v-show="item.isSeted">
							<a class="edit" href="javascript:;" title="修改地址" @click.stop="modifyAddr(item)">修改</a>
							<a class="edit" href="javascript:;" title="删除地址" @click.stop="readyDelAddr(item)">删除</a>
						</div>
						<div class="addr-cur-marker" v-if="item.isSeted"></div>
					</div>
				</div>
			</div>
			<div class="addr-operations">
				<a href="javascript:;" @click="showAllAddr()">显示全部地址</a>
				<a href="javascript:;" @click="readyAddAddr()">添加收货地址</a>
			</div>
			<h2>确认订单信息</h2>
			<div>待完成</div>
		</div>
		<div class="footer"></div>
		<div class="popup" v-if="addFlag">
			<h3>添加地址信息</h3>
			<div class="edit-area">
				<div class="region">
					<label for="region">所在地区</label>
					<addr-selector v-model="addrInfo"></addr-selector>
				</div>
				<div class="detailed-addr">
					<label for="detailed-addr">详细地址</label>
					<textarea v-model="street" cols="50" placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" required></textarea>
				</div>
				<div class="zip-code">
					<label for="zip-code">邮政编码</label>
					<input v-model="zipCode" type="text" width="100%" name="zip-code" placeholder="如果您不清楚该地区的邮政编码，请输入000000" required>
				</div>
				<div class="name">
					<label for="name">收货人姓名</label>
					<input v-model="name" type="text" name="name" required>
				</div>
				<div class="phone">
					<label for="phone">手机号码</label>
					<input v-model="phone" type="phone" name="phone">
				</div>
				<div class="telephone">
					<label for="telephone">电话号码</label>
					<input v-model="telephone" type="phone" name="telephone">
				</div>
				<button @click="addAddr()">保存</button>
			</div>
		</div>
		<div class="popup-overlay" v-if="addFlag" @click="addFlag=false"></div>

		<div class="modal" v-if="delFlag">
			<a href="javascript:;" class="modal-close" @click="delFlag=false">
				<span class="close"></span>
			</a>
			<p class="modal-msg">确认要删除该地址吗？</p>
			<div class="modal-close"></div>
			<div>
				<button @click="delAddr">确定</button>
				<button @click="delFlag=false">取消</button>
			</div>
		</div>
		<div class="modal-overlay" v-if="delFlag" @click="delFlag=false"></div>
	</div>
	<script src="js/lib/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/addr.js"></script>
</body>
</html>